*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    padding: 40px;
    font-family: 'Arvo', serif
}
.navigation-bar{
    font-size: x-large;
    float : right

  }
header{
    color: #ffa500;
    background-color: #202a45;
  }
body{
    background-color: #ffffff;
}
#myImages{
    margin-left: 150px;
}
#myImages img {
    height: 400px;
    width: 2500px;
}

.contents{
    padding-top: 20px;
    display: flex;
    position: relative;
}
.content1{
    border-radius: 12px;
    box-shadow: 0px 0px 8px 2px;
    background-color:#202a45;
    color: #ffa500;
    font-size: x-large;
    line-height: 4;
    width: 900px;
    margin-left: 150px;

}
.content1 ul{
    padding-left: 50px;
}
.doggy2{
    text-align: center;
    margin-left: 20px;
    width: 165px;

}

.myForm{
    box-shadow: 0px 0px 8px 2px;
    border-radius: 10px 90px;
    color: #ffa500;
    text-align: center;
    background-color: #202a45;
    width: 400%;
    margin-bottom: 20px;
    height: 250px;
}

.myForm h2{
    color: #ffa500;
    padding-bottom: 20px;
}

.myForm label{
    font-size: large;
    padding-right: 200px;
}

.myForm input{
    width: 200px;
}

.myForm #vetPhonenumber{
    padding: 10px 20px;
    margin-left: -10px;
}
.myForm #vetName{
    padding: 10px 20px;
}
.myForm button{
    border-radius: 12px;
    font-size: larger;
    background-color:#16b314;
    margin-right: -5px;
    margin-top: 9px;
}
#myVeterinaryList li{
    font-size: x-large;
    margin-left: 20px;
}

.myTable{
    box-shadow: 0px 0px 8px 2px;
    border-radius: 90px;
    width: 400%;
    margin-bottom: 150px;
    background-color:#202a45;
    text-align: right;
    color: #ffa500;
    height: 362px;
}
 .like-glyph{
    font-size: 55px;
} 
.activated-heart{
    color: black;
}
.myTable table{
    padding: 58px 100px;

}

.myTable table th{
    padding-top: 20px;
}

.myTable table tr{
    padding-left: 0px;
}

img{
    max-width: 30%;
    max-height: 30%;
}
h3{
    line-height: 2;
    text-align: center;
    font-size: x-large;
}
p #animal{
    text-align: center;
}
table,th,td{
    font-size:large;
    border:1px solid;
    border-style: none;
    border-color: grey;
    color:#ffa500;
}
#note{
    color:#ffa500;
    text-align: center;
    font-size: xx-large;
}
.vetList{ 
    padding-left: 5%;
    text-align: center;
    background-color:#202a45;
    color:#ffa500;
    margin-top: -100px;
    
}
@media screen and (max-width: 1250px) {
    .contents {
        flex-direction: column;
        width:auto;
    }
.myForm{
    margin-top: 20px;
        width : 500px;
        height : 350px;
    }

  .content1{
    width:auto;
    flex-direction: column;
    margin-left: 50px;
  }  
}