*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    padding: 40px;
    font-family: 'Arvo', serif
}
.navigation-bar{
    font-size: x-large;
    float : right
}
header{
    color: #ffa500;
    background-color: #202a45;
}
body{
    background-color: #ffffff;
}
#myImages{
    margin-left: 150px;
}
#myImages img {
    height: 400px;
    width: 2500px;
}
.contents{
    padding-top: 20px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}
.content1{
    border-radius: 12px;
    box-shadow: 0px 0px 8px 2px;
    background-color:#202a45;
    color: #ffa500;
    font-size: x-large;
    line-height: 4;
    width: 900px;
    margin-left: 150px;
    position: relative;
}
.content1 ul{
    padding-left: 50px;
    position: relative;
}
.content1 span{
    font-size: 150px;
}
.like-glyph2{
    border-style: none;
    color: #ffa500;
    position: absolute;
    top: 460px;
    left: 680px;
    font-size: 160px;
    cursor: pointer;  
} 
.doggy2{
    text-align: center;
    margin-left: 20px;
    width: 167px;
    position: relative;
}
.myForm{
    box-shadow: 0px 0px 8px 2px;
    border-radius: 10px 90px;
    color: #ffa500;
    text-align: center;
    background-color: #202a45;
    width: 400%;
    margin-bottom: 20px;
    height: 250px;
}
.myForm h2{
    color: #ffa500;
    padding-bottom: 20px;
}
.myForm label{
    text-align: right;
    font-size: large;
    padding-right: 200px;
}
.myForm input{
    text-align: center;
    width: 250px;
    height: 25px;
}
.myForm #vetPhonenumber{
    padding: 10px 20px;
    margin-left: -10px;
}
.myForm #vetName{
    padding: 10px 20px;
}
.myForm button{
    border-radius: 12px;
    font-size: larger;
    background-color:#16b314;
    margin-right: -5px;
    margin-top: 9px;
}
#myVeterinaryList li{
    font-size: x-large;
    margin-left: 20px;
}
a{
    color: #fc0303;
    text-decoration: none;
}
.myTable{
    box-shadow: 0px 0px 8px 2px;
    border-radius: 90px;
    width: 400%;
    margin-bottom: 150px;
    background-color:#202a45;
    text-align: right;
    color: #ffa500;
    height: 362px;
}
.activated-heart{
    color: #fc0303;
}
.myTable table{
    padding-top: 5px;
    padding-right :30px;
}
.myTable table th{
    padding-top: 10px;
}
.myTable table tr{
    padding-left: 0px;
}
h2{
    text-align: center;
}
img{
    max-width: 30%;
    max-height: 30%;
}
h3{
    line-height: 2;
    text-align: center;
    font-size: x-large;
}
p.note{
    font-size: xx-large;
    text-align: center;
    color: #fc0303;
}
table,th,td{
    padding-inline: 30px;
    text-align: center;
    font-size: large;
    border:1px solid;
    border-color: grey;
    color:#ffa500;
}
table{
    border-style: none;
}
td{
    border-style:double;
    font-size: 18px;
    color: #fc0303;
    padding-inline: 30px;
}
th{
    padding-bottom: 20px;
    font-size: larger;
}
.vetList{ 
    padding-left: 5%;
    text-align:center;
    background-color:#202a45;
    color:#ffa500;
    margin-top: -150px;  
    padding-bottom: 50px;
}
.vetList #myVeterinaryList li{
    list-style: none;
}
.vetList h3{
    font-size: xx-large;
    padding-top: 20px;
}
@media screen and (max-width: 750px) {
    .contents {
        margin-left: -50px;
        flex-direction: column;
        align-content: stretch;
    }
.myForm{
    position :absolute;
    width:400px;
    margin-top: 20px;
    align-content: stretch;
    flex-direction: column;
    height: 400px;
    }
    .myForm input {
        margin-left: -20px;
    }
    .myForm label{
        margin-left: 60px;
    }
.content1{
    width:auto;
    flex-direction: column;
    margin-left: 50px;
}  
.myTable{
    display: none;
  }
header
{
align-content: stretch;
}
.vetList{
    margin-top: 380px;
  }
#myImages img {
    display: none;
}
.like-glyph2{
    position: absolute;
    font-size: 50px;
    margin-left : -630px;
    margin-top: -150px;
}
}